/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {height: 100%;}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1160px;
  margin: 0 auto;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
button:focus, a:focus, input:focus, textarea:focus {outline: none;}
a:visited {color: black;}
a:link {color: black;}
li {list-style-type: none;}
ul, ol, p , h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
input {
  font-family: "Rubik", sans-serif;
}
.visually-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button, .delivery-tab-active, .button-border{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  height: 40px;
  padding: 9px 15px 11px 15px;
}
.button-border {
  width: 255px;
  height: 55px;
}
.button {
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
}
.button-primary, .button-second {
  display: flex;
  align-items: center;
  position: relative;
  color: black;
  background: none;
}
.button-primary:before, .button-second:before{
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}
.button-primary:focus:before, .button-second:focus:before {background-color: #AF4FFF;}
.button-primary:hover {background-color: #FFE17F;}
.button-primary:active span {opacity: 0.3;}
.button-primary:active {background-color: #FFE17F;}
.button-second:hover {background-color: #FFC700;}
.button-second:hover:before {background: none;}
.button-primary span, .button-second span, .button-third span, .button-fourth span {
  font-size: 18px;
  line-height: 21px;
  z-index:1;
  margin: auto;
}
.button-third, .button-fourth {
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.button-fourth {
  background: #ffffff;
}
.button-third:focus {
  border: 3px solid #AF4FFF;
}
.button-third:hover {
  background-color: #000000;
  color: #ffffff;
}
.button-third:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.button-fourth:focus {
  border: 5px solid #AF4FFF;
}
.button-fourth:hover, .button-fourth:active {border: 3px solid #000000;}
.button-fourth:active {opacity: 0.3;}
.slider-button {padding: 10px;}
.slider-button:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 6px;
}
.slider-button:hover {opacity: 0.6;}
.slider-button:active {opacity: 0.3;}

button .visually-hidden {display: block;}

/* HEADER */
.page-header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFE17F;
}
.navigation {
  padding: 40px 50px 30px 40px;
  position: relative;
  width: 100%;
}
.navigation-logo {
  display:block;
  position: absolute;
  top:-20px;
  left: 60px;
  width: 145px;
  height: 36px;
  margin-bottom: 36px;
}
.navigation-menu .navigation-item > .navigation-link{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 3;
}
.navigation .navigation-item {position: relative;}
.navigation-user .navigation-item .user-exit {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  opacity: 0.3;
}
.navigation-user, .navigation-menu{
  display: grid;
  grid-template-columns: 540px 180px 200px 150px;
  row-gap: 20px;
}
.navigation-user {
  margin-top: 2px;
}
.navigation-user .navigation-item:nth-child(3) {
  right: -5px;
}
.navigation-user .navigation-item:nth-child(3) .navigation-link:before {
  left: 25px;
}
.navigation-user .navigation-item .navigation-link {padding: 10px 10px 10px 46px;}
.navigation-user .navigation-item .navigation-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}
.navigation-user .navigation-link:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}
.navigation-user .navigation-item .navigation-link:before {
  content:"";
  position: absolute;
  left: 21px;
  top: 12px;
}
.navigation-user .navigation-item .search:before {
  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg");
}
.navigation-user .navigation-item .user:before {
  width: 13px;
  height: 12px;
  background: url("../img/icons/user.svg");
}
.navigation-user .navigation-item .compare:before {
  width: 10px;
  height: 12px;
  background: url("../img/icons/compare.svg");
}
.navigation-user .navigation-item .cart:before {
  width: 16px;
  height: 14px;
  background: url("../img/icons/cart.svg");
}
.navigation-user .navigation-item .cart:after {
  content: "2";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  text-align: center;
}
.navigation-user .navigation-item .cart:hover + .popover {display: block;}
.navigation-item:hover .navigation-catalog-list {display: grid;}
.navigation-user {margin-bottom: 35px;}
.navigation-user .navigation-link:not(:first-child):hover {opacity: 0.6;}
.navigation-user .navigation-link:not(:first-child):active {opacity: 0.3;}
.navigation-user .navigation-item .search {padding: 0;}
.input-search {
  background: none;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  height: 40px;
  width: 516px;
  box-sizing: border-box;
  padding: 10px 10px 10px 60px;
}
.input-search:focus {
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.input-search:hover {
  opacity: 0.6;
}
.input-search:not(:placeholder-shown).input-search:focus, .input-search:active {
  border: 2px solid #000000;
  opacity: 1;
}
.input-search:placeholder-shown + .button-search {display: none;}
.button-search {
  position: absolute;
  display: inline;
  z-index: 5;
  right: 24px;
  width: 160px;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  background: none;
  letter-spacing: normal;
}
.button-search span {
  font-size: 16px;
  line-height: 19px;

  text-transform: none;
  font-family: "Rubik", sans-serif;
}
.button-search:focus {
  border-color: #AF4FFF;
}
.button-search:hover, .button-search:active {
  background-color: #000000;
  color: #FFFFFF;
}
.button-search:active span{
  opacity: 0.3;
}

.navigation-user li:last-child, .navigation-user li:nth-child(3), .navigation-menu >li:nth-child(3n+4) {margin-left: auto;}
.navigation-menu >li:nth-child(3n+4) {
  right: 5px;
}
.navigation-menu li:nth-child(3) {
  left: -20px;
}
.navigation-menu .navigation-item >.navigation-link {
  position: relative;
  padding: 14px 20px;
}
.navigation-menu .navigation-item:first-child {
  position: relative;
  width: auto;
  grid-row: span 2;
}
.navigation-menu .navigation-item:first-child >.navigation-link:after {
  content:"";
  position: absolute;
  right: -25px;
  top: 50%;
  z-index: 3;
  transform: translate(50%, -50%);
  width: 46px;
  height: 46px;
  background: url("../img/icons/plus.svg") no-repeat center;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 25px;
}
.navigation-menu .navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}
.navigation-menu .navigation-item:not(:first-child) .navigation-link:hover:after {
  content: "";
  margin: 0 20px;
  bottom: 7px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #000000;
  height: 2px;
}
.navigation-menu .navigation-item:not(:first-child) .navigation-link:active {
  text-decoration: underline;
  opacity: 0.3;
}
.navigation-menu .navigation-item:first-child >.navigation-link:hover:after {
  opacity: 1;
  background: url("../img/icons/minus.svg") no-repeat center;
}
.navigation-menu .navigation-item:first-child >.navigation-link:active:after {background: url("../img/icons/minus.svg") no-repeat center;}
.navigation-menu .navigation-item:first-child .navigation-link:hover + .navigation-catalog-list {
  display: grid;
}
.navigation-catalog-list {
  display: none;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(190px, auto));
  row-gap: 9px;
  column-gap: 11px;
  position: absolute;
  width: 1160px;
  left: -40px;
  box-sizing: border-box;
  right: auto;
  top: 100%;
  padding: 22px 45px 50px 45px;
  background-color: #FFE17F;
  z-index: 2;
}
.navigation-catalog-list .navigation-catalog-item:last-child {
  grid-column: 3;
  grid-row: 1;
}
.navigation-catalog-item .navigation-link {
  padding: 3px 15px 5px 15px;
  display: block;
}
.navigation-catalog-item .navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}
.navigation-catalog-item .navigation-link:hover {
  opacity: 0.6;
}
.navigation-catalog-item .navigation-link:active {
  opacity: 0.3;
}
.navigation-menu .navigation-item:first-child .navigation-link:active .navigation-catalog-list {
  display: grid;
}

/*POPOVER*/
.popover{
  position: absolute;
  padding-top: 44px;
  top: 0;
  right: -70px;
  z-index: 4;
  display: none;
}
.popover-cart{
  box-sizing: border-box;
  width: 320px;
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 10px;
}
.popover:hover {display: block;}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.cart-item:nth-child(n+1) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.cart-item-button {
  margin-left: 40px;
  background-color: transparent;
  padding: 0;
  width: 25px;
  height: 25px;
  flex-shrink: 1;
  border-radius: 15px;
  align-self: flex-start;
  border: 2px solid transparent;
}
.cart-result {
  padding: 13px 20px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-between;
}
.cart-item-img {margin-right: 23px;}
.cart-item:focus .cart-item-img {
  outline: 5px solid #AF4FFF;
}
.cart-item:focus .cart-item-title {
  color: #AF4FFF;
}
.cart-item:focus .cart-item-button {
  outline: 2px solid #AF4FFF;
}
.cart-item:hover {
  opacity: 0.6;
}
.cart-item:active {
  opacity: 0.3;
}
.popover .button-fourth:hover {
  border: none;
  background-color: #FFE17F;
}
.popover .button-fourth:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  opacity: 1;
}
.popover-cart .button-fourth {
  margin: 20px 20px 10px 20px;
  width: 280px;
  height: 50px;
}
.popover-cart .button-fourth:hover {outline: none;}

/* CONTENT */
.main-index {flex-grow: 1;}
.description-product p:first-child,
.additional-features h2,
.about-us h2,
.contacts h2,
.subscription h2, .inner-header-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 25px;
  margin-bottom: 0;
  color: #000000;
}

/* GALLERY */
.gallery {
  display: flex;
  position: relative;
  top: -35px;
  align-content: flex-start;
  margin-bottom: 35px;
}
.gallery:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #FFE17F;
}
.gallery:after {
  content: "01";
  position: absolute;
  top: 0;
  right: 50px;
  transform: translateY(75px);
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  width: 100%;
  height: 180px;
}
.gallery-product {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 40px;
}
.description-product p:first-child {
  padding-bottom: 30px;
}
.slider-pagination-button, .slider-pagination-button-current {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #ffffff;
}
.slider-pagination-button-current {background-color: black;}
.slider-pagination-button:focus {outline: 2px solid #AF4FFF;}
.slider-pagination-button:hover {opacity: 0.6;}
.slider-pagination-button:active {opacity:0.3;}
.slider-next,.slider-prev {
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
}
.slider-prev {
  background-image: url("../img/icons/arrow-thin.svg");
  transform: rotate(180deg);
  left: 20px;
}
.slider-next {background-image: url("../img/icons/arrow-thin.svg");}
.description-product {padding-top: 120px; z-index: 1;}
.description-product .button-primary {width: 220px;}
.description-product p {margin: 0;}
.description-product div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  margin-top: 42px;
  margin-bottom: 40px;
}
.slider-pagination {
  margin: 0;
  padding-left: 0;
  display: flex;
  column-gap: 22px;
}
.characteristics {
  display: flex;
  flex-wrap: wrap;
}
.characteristics dl {
  width: 150px;
  display: flex;
  row-gap: 12px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding-right: 10px;
}
.characteristics dt {
  font-size: 16px;
}
.characteristics dd {
  font-size: 36px;
  color: #000000;
  margin-left: 0;
}

/* CATEGORY */
.category {
  margin-bottom: 80px;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.category-item {
  width: 160px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
}
.category-item {
  letter-spacing: -1px;
}
.category-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.category-item img {
  background-color: #FFE17F;
  margin-bottom: 27px;
}
.category-item a:focus {
  outline: 5px solid #AF4FFF;
  color: #AF4FFF;
}
.category-item a:hover img{background-color: #FFC700;}
.category-item a:active img, .category-item a:active p {opacity: 0.3;}

/* ADDITIONAL FEATURES */
.additional-features-wrap {
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 90px;
}
.additional-features-wrap:before {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  min-height: 288px;
  z-index: -1;
  background-color: #F0F0F0;

}
.additional-features {
  display: flex;
  align-items: center;
  gap: 110px;
}
.additional-features h2 {
  padding-bottom: 30px
}
.additional-features_tabs {
  display: flex;
  flex-direction: column;
  padding: 80px 0 70px;
  gap: 25px;
  border-right: 7px solid black;
}
.additional-features_tab {
  width: 280px;
}
.delivery-tab-active {
  width: 100%;
  background: black;
  color: #FFE17F;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}
.additional-features_tabs .button-second {
  min-width: 160px;
}
.additional-features_tabs .button-second span{
  font-size: 18px;
  line-height: 21px;
}
.delivery-tab-active:before {background: none;}
.additional-features img{
  padding-right: 65px;
  padding-left: 10px;
  padding-top: 5px;
}

/* CUSTOM DELIVERY */
.custom-delivery {
  height: 100%;
  margin-bottom: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
}
.custom-delivery:focus {outline: 5px solid #AF4FFF;}
.custom-delivery:hover .custom-delivery-icon {background-color: #FFC700;}
.custom-delivery:active .custom-delivery-icon img, .custom-delivery:active span {opacity: 0.3;}
.custom-delivery-icon{
  width: 125px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFE17F;
  flex-shrink: 0;
}
.custom-delivery span {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  width: 100%;
  padding: 37px 80px 43px 30px;
}
.custom-delivery-information {
  background: rgba(220, 220, 220, 0.5) url("../img/icons/info.svg") no-repeat center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  margin-right: 31px;
  flex-shrink: 0;
}

/* ABOUT US */
.wrap-about-us {
  display: flex;
  margin-bottom: 75px;
  justify-content: space-between;
}
.wrap-about-us .button {
  margin-top: auto;
  width: 265px;
}
.about-us {
  width: 500px;
}
.contacts {
  width: 560px;
}
.about-us , .contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  row-gap: 25px;
}
.wrap-about-us .about-us-title, .wrap-about-us .contacts-title {
  padding-bottom: 20px;
}
.about-us ul {
  margin-top: 40px;
  margin-bottom: 35px;
}
.about-us ul li {
  padding-top: 10px;
  position: relative;
}
.about-us:before, .contacts:before {
  content: "";
  position: absolute;
  top: -53px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.about-us ul li b {
  line-height: 20px;
  color: black;
  padding-left: 35px;
}
.about-us ul li:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FFC700;
}
/*CONTACTS*/
.contacts-address {
  font-style: normal;
  margin-top: -10px;
}
.contacts h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 24px;
  padding-top: 3px;
}
.contacts .contacts-schedule {
  margin-top: -10px;
  margin-bottom: 35px;
}

/* SUBSCRIPTION */
.subscription-wrap {
  padding-top: 75px;
  padding-bottom: 131px;
  background-color: #F0F0F0;
}
.subscription {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
}
.subscription h2 {
  grid-area: title;
  width: 600px;
  margin: 0;
  padding: 0;
}
.subscription-text {
  width: 560px;
  padding-top: 10px;
}
.subscription-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.subscription .button-border {
  padding-top: 18px;
}
.subscription span {margin-left: auto}
.subscription-free {
  padding-bottom: 9px;
}
.subscription-free svg {margin-right: 17px;}
.subscription  #subscription-mail {
  height: 100%;
  width: 600px;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.subscription  #subscription-mail:focus {
  background-color: #DCDCDC;
  border: none;
}
.subscription #subscription-mail:invalid {
  outline-color: #FF3D3D;
}
.subscription  #subscription-mail:hover {border-color:rgba(0, 0, 0, 0.2);}
.subscription  #subscription-mail:active {border-color:rgba(0, 0, 0, 1);}
.subscription  #subscription-mail:hover {border-color:rgba(0, 0, 0, 0.2);}

/* FOOTER */
.wrap-page-footer {
  color: #ffffff;
  background-color: #444444;
  padding-top: 62px;
  padding-bottom: 62px;
}
.page-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 35px;
  align-items: center;
}
.page-header-logo {
  grid-column: 1 / -1;
}
.page-footer .page-header-logo path {fill: #FFC700;}
.page-footer address {
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  margin-top: -5px;
}
.footer-menu li {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: -10px;
}
.footer-menu li:nth-child(3n+1) {
  margin-left: 5px;
}
.page-footer a{color: #ffffff;}
.footer-menu a {
  padding: 14px 20px;
  position: relative;
}
.page-footer .footer-menu a:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}
.footer-menu a:hover, .footer-menu a:active {color: #FFC700;}
.footer-menu a:hover:after, .footer-menu a:active:after {
  content: "";
  margin: 0 20px;
  bottom: 7px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #FFC700;
  height: 2px;
}
.footer-menu a:active {color: #FFC700; opacity: 0.3;}
.contacts-phone {text-decoration-line: underline;}
.page-footer div.line {
  height: 7px;
  width: 80px;
  background-color: #FFC700;
}
.footer-tel {
  padding: 5px 15px;
  justify-self: flex-end;
  font-size: 16px;
  margin-right: -15px;
}
.footer-tel:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}
.footer-tel:hover,  .footer-tel:active {color: #FFC700;}
.footer-tel:active {opacity: 0.3; }

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-item a {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.footer-social-item a:focus {
  background-color: #444444;
  outline: 5px solid #AF4FFF;
}
.footer-social-item a:focus .social-icon {fill: #ffffff;}
.footer-social-item a:hover, .footer-social-item a:active {background-color: #FFC700;}
.footer-social-item a:hover .social-icon, .footer-social-item a:active .social-icon {fill: #444444;}
.footer-social-item a:active .social-icon{opacity: 0.3;}

.page-footer .htmlacademy {
  justify-self: flex-end;
  align-self: flex-end;
  display: inline-block;
  border-radius: 10px;
}
.page-footer .htmlacademy svg{
  padding: 10px;
  fill: #FFC700;
  margin-top: 8px;
  margin-right: -10px;
}
.page-footer .htmlacademy:focus {outline: 2px solid #AF4FFF;}
.page-footer .htmlacademy:hover svg {fill: #ffffff;}
.page-footer .htmlacademy:active svg {fill: #ffffff; opacity: 0.3;}

/* CATALOG */
.inner-header-title {
  margin-top: 37px;
  padding-bottom: 20px;
  padding-left: 60px;
}
.breadcrumbs {padding-left: 48px;}
.breadcrumbs {
  display: flex;
  column-gap: 12px;
  margin-bottom: 45px;
}
.breadcrumbs .breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.6;
  padding: 5px 12px;
}
.breadcrumbs .breadcrumbs-link:focus {
  outline: 5px solid #AF4FFF;
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs .breadcrumbs-link:hover {opacity: 1}
.breadcrumbs .breadcrumbs-link:active {opacity: 0.3;}
.breadcrumbs-item:not(:last-child) .breadcrumbs-link:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -6px;
  width: 4px;
  height: 7px;
  background: url("../img/icons/arrow-thin.svg") no-repeat center;
  background-size: contain;
}
.catalog-products {
  display: flex;
  justify-content: center;
}
.sorting-type label, .catalog-filter h3{
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.catalog-products fieldset {
  border: none;
  padding-right: 0;
  padding-left: 0;
  margin-right: 70px;
}
.catalog-filter {
  flex-grow: 1;
  background-color: #EBEBEB;
}
.catalog-filter h3 {
  display: flex;
  justify-content: flex-end;
  background-color: #DCDCDC;
  margin: 0 0 70px 0;
  padding: 25px 0;
}
.catalog-filter h3 span {
  width: 270px;
  margin-left: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.filters {
  width: 200px;
  margin: 0 0 0 auto;
  padding-left: 60px;
  padding-right: 70px;
}
.filters .button-primary {
  width: 100%;
  margin-top: -2px;
}
.catalog-filter fieldset {
  width: 200px;
  padding: 0;
  margin-bottom: 25px;
}
.catalog-filter-list {
  margin-bottom: 15px;
  margin-top: 3px;
}
.catalog-filter-list li {
  padding-top: 10px;
}
/* Range */
.range {
  margin-top: 25px;
  margin-bottom: 43px;
}
.range-scale {
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
}
.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}
.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-min, .toggle-max {top: -9px;}
.toggle-min {left: 0;}
.toggle-max {right: 0;}
.label-min {right: 9px;
  transform: translateX(-50%);
}
.label-max {
  right: -9px;
  transform: translateX(50%);
}
.label-min, .label-max {
  position: absolute;
  top: 7px;
  opacity: 0.3;
  width: fit-content;
}
.range-wrapper-inputs {
  display: flex;
  position: absolute;
  justify-content: center;
}
.catalog-filter-label {display: flex;}
.range-input {
  padding: 0 2px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  width: 60px;
}
.label-min:focus, .label-max:focus {color: #AF4FFF;}
.toggle-min:focus, .toggle-max:focus {border: 2px solid #AF4FFF;}
.toggle-min:focus + .catalog-filter-label , .toggle-max:focus + .catalog-filter-label {
  color: #AF4FFF;
}
.toggle-min:focus + .catalog-filter-label .range-input , .toggle-max:focus + .catalog-filter-label .range-input {
  color: #AF4FFF;
}
.toggle-min:active + .catalog-filter-label , .toggle-max:active + .catalog-filter-label {
  opacity: 1;
}

.label-min:active, .label-max:active {opacity:1;}
.toggle-min:active, .toggle-max:active {
  background-color: #000000;
  border: 2px solid #000000;
}
/* Mark */
.control {
  position: relative;
  display: block;
}
.control-input {
  visibility: hidden;
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.control-input[type="checkbox"] + .control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  opacity: 0.2;
  box-sizing: border-box;
  border-radius: 3px;
}
.control-input[type="checkbox"] + .control-mark svg {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.control-label {margin-left: 35px;}
.control:hover .control-label {color: black;}
.control-input[type="checkbox"]:checked + .control-mark svg{
  display: block;
}
/*RADIO*/
.control-input[type="radio"] {
  border-radius: 50%;
}
.control-input[type="radio"] + .control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  box-sizing: border-box;
}
.control-input[type="radio"]:checked + .control-mark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 4px;
}
.control-input:checked + .control-mark {opacity: 1;}
.control-input:focus + .control-mark {outline-color: #AF4FFF;}
.control-input:focus + .control-label {color: #AF4FFF;}
.control-input:focus + .control-mark svg {fill: #AF4FFF;}
.control-input:checked:hover + .control-mark {opacity: 0.5;}
.control-input:active {opacity: 0.2;}
/* Control */
.select-control {
  width: 220px;
  box-sizing: border-box;
  padding: 4px 0 7px 13px;
  margin-left: 34px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  cursor: pointer;
}
.select-control:focus {outline: 5px solid #AF4FFF;}
.select-control:hover {opacity: 0.6;}
.select-control:active {opacity: 0.3;}

.catalog-right-column {
  flex-grow: 1;
}
.sorting-wrap {
  height: 70px;
  background-color: #EBEBEB;
}
.sorting-type {
  width: 760px;
  display: flex;
  align-items: center;
  padding-left: 72px;
  margin-right: auto;
  padding-top: 15px;
}
.sorting-from-more, .sorting-from-smaller {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0.2;
  width: 40px;
  height: 40px;
}
.sorting-from-more {
  margin-left: auto;
  margin-right: -12px;
}
.sorting-from-smaller {
  opacity: 1;
  margin-right: -12px;
}
.sorting-from-more:hover, .sorting-from-smaller:hover {opacity: 0.5;}
.sorting-from-more:focus, .sorting-from-smaller:focus {
  outline: 5px solid #AF4FFF;
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}
.sorting-from-more:focus svg, .sorting-from-smaller:focus svg {opacity: 0.2;}
.sorting-from-more:active, .sorting-from-smaller:active {opacity: 1;}

.products-wrap {
  width: 760px;
  margin-left: 72px;
  margin-right: auto;
}
.catalog-filter-title {
  width: 100%;
  border-top: 2px solid #000000;
  padding-top: 12px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 0;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-auto-flow: row;
  row-gap: 45px;
  margin-top: 69px;
}
.product-card {
  display: flex;
  flex-direction: column;
}
.product-new .product-img:before {
  content: "";
  position: absolute;
  top:27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/new.png");
}
.product-card-link {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-card-link span {position: absolute;}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.product-card-link:focus .product-img {
  outline: 5px solid #AF4FFF;
}
.product-card-link:focus .product-card-title,
.product-card-link:focus .product-card-price {
  color: #AF4FFF;
}
.product-img span {display: none; z-index: 1;}
.product-img span:before {z-index: -1;}
.product-img:hover span{display: flex;}
.product-img:hover img {opacity: 0.3;}
.product-img:hover {background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));}
.product-img:focus {outline: 5px solid #AF4FFF;}
.product-img:focus ~ .product-text h3, .product-img:focus ~ .product-text b {color: #AF4FFF;}
.product-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-card .product-card-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-card-title {
  display: inline-block;
  width: 280px;
}
.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}
.pagination-show-more {
  display: block;
  width: 100%;
  height: 55px;
  margin-top: 45px;
  margin-bottom: 51px;
  padding-top: 13px;
}
.pagination-show-more span {
  font-size: 16px;
  line-height: 20px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
  background-color: #EBEBEB;
}
.pagination-item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pagination-prev, .pagination-next{
  display: block;
  box-sizing: border-box;
  padding: 27px 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.pagination-prev:focus, .pagination-next:focus, .pagination-link:focus {outline: 5px solid #AF4FFF;}
.pagination-prev:active, .pagination-next:active {opacity: 0.3;}
.pagination .pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  padding: 10px 15px;
  box-sizing: border-box;
}
.pagination-link:hover {color: #444444;}
.pagination-link:active {  color: rgba(68, 68, 68, 0.1);}

/*MODAL*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /*display: flex;*/
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}
.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}
.modal-close-button {
  position: absolute;
  top: 72px;
  right: 66px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-close-button:focus {
  border: 5px solid #AF4FFF;
  border-radius: 25px;
}
.modal-close-button:hover {
  opacity: 0.6;
}
.modal-close-button:active {
  opacity: 0.3;
}
.modal-title {
  margin-bottom: 58px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-areas: "name email email"
                        "order order count";
  column-gap: 40px;
  row-gap: 35px;
}
.delivery-modal-name {grid-area: name;}
.delivery-modal-email {grid-area: email;}
.delivery-modal-order {grid-area: order;}
.delivery-modal-count {grid-area: count;}
.delivery-form-field {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border: none;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
}
.delivery-form-field:focus {
  outline: 5px solid #AF4FFF;
}
.delivery-form-field:active {
  outline: 3px solid #000000;
}
.delivery-form-field:invalid {
  outline: 3px solid #FF3D3D;
}
.delivery-form-field:not(:placeholder-shown) + .modal-hint-error {
  display: none;
}
.delivery-form label {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}
.field-group {position: relative;}
.field-group svg {
  position: absolute;
  right: 24px;
  top: 68px;
}
.modal-hint, .modal-hint-error {
  position: absolute;
  left: 0;
  bottom: -27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.modal-hint {
  color: #000000;
}
.modal-hint-error {
  color: #FF3D3D;
}
.delivery-form .button-primary {
  width: 200px;
  margin-top: 5px;
}
.delivery-form .button-primary span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}
.delivery-count {
  display: flex;
  position: relative;
  margin-top: 14px;
}
.count-information {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 15px;
  top: 5px;
  background-color: #FFE17F;
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  text-align: center;
}
.count-information:hover + .delivery-count:after,
.count-information:hover + .delivery-count:before {
  display: block;
}
.count-information:hover + .delivery-count .delivery-form-count,
.count-information:hover + .delivery-count .delivery-form-count {
  z-index: 0;
}
.delivery-count:after {
  content: "Постараемся найти, сколько нужно. Привезём сколько получится по требованиям к провозу багажа.";
  position: absolute;
  display: none;
  padding: 19px 17px;
  width: 200px;
  height: auto;
  right: -22px;
  top: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
}
.delivery-count:before {
  display: none;
  content: "";
  position: absolute;
  top: -20px;
  right: 11px;
  border: 14px solid transparent;
  border-bottom: 6px solid #000000;
  z-index: 2;
}
#delivery-count {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.delivery-form-count {
  width: 54px;
  height: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.delivery-form-count:focus:before {
  outline: 2px solid #AF4FFF;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.delivery-form-count:hover:before {
  opacity: 1;
}
.delivery-form-count:active:before {
  opacity: 0.3;
}
.count-small:before, .count-more:before {
  content: "";
  position: absolute;
  width: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.count-small:before {
  background-image: url("../img/icons/minus.svg");
  height: 2px;
}
.count-more:before {
  background-image: url("../img/icons/plus.svg");
  height: 16px;
}
.cont-small {
  left: 0;
}
.count-more {
  right: 0;
}
