/* Raleway */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header button,
.main-container button,
.wrap-page-footer button,
.modal-container button {
  box-sizing: border-box;
  font-weight: 800;
}

.page-header a,
.main-container a,
.wrap-page-footer a,
.modal-container a{
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.page-header li,
.main-container li,
.wrap-page-footer li,
.modal-container li {
  list-style-type: none;
}

.page-header p,
.main-container p,
.wrap-page-footer p,
.modal-container p{
  margin: 0;
  padding: 0;
}

.page-header b,
.main-container b,
.wrap-page-footer b,
.modal-container b {
  font-weight: 800;
}

.search input,
.subscription-form input {
  font-family: "Rubik", sans-serif;
}

.visually-hidden {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.button,
.delivery-tab-active,
.button-border {
  height: 40px;
  padding: 9px 15px 11px 15px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.button-border {
  width: 255px;
  height: 55px;
}

.button {
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.button-primary,
.button-second {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  background: none;
  border: none;
}

.button-primary:before,
.button-second:before {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
}

.button-primary:focus:before,
.button-second:focus:before {
  background-color: #af4fff;
}

.button-primary:hover {
  background-color: #ffe17f;
}

.button-primary:active span {
  opacity: 0.3;
}

.button-primary:active {
  background-color: #ffe17f;
}

.button-primary:focus,
.button-second:focus {
  outline: none;
}

.button-second:hover {
  background-color: #ffc700;
}

.button-second:hover:before {
  background: none;
}

.button-primary span,
.button-second span,
.button-third span,
.button-fourth span {
  margin: auto;
  font-size: 18px;
  line-height: 21px;
  z-index:1;
  color: #000000;
}

.button-third,
.button-fourth {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.button-fourth {
  background: #ffffff;
}

.button-third:focus {
  outline: none;
  border: 3px solid #af4fff;
}

.button-third:hover {
  background-color: #000000;
}

.button-third:active {
  background-color: #000000;
}

.button-third:hover span {
  color: #ffffff;
}

.button-third:active span {
  color: rgba(255, 255, 255, 0.3);
}

.button-fourth:focus {
  outline: none;
  border: 5px solid #af4fff;
}

.button-fourth:hover,
.button-fourth:active {
  border: 3px solid #000000;
}

.button-fourth:active {
  opacity: 0.3;
}

.slider-button {
  padding: 10px;
  outline: none;
  border: none;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 6px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

button .visually-hidden {
  display: block;
}

/* HEADER */

.page-header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation {
  position: relative;
  width: 100%;
  padding: 40px 50px 30px 40px;
}

.navigation-logo {
  position: absolute;
  top:-20px;
  left: 60px;
  display:block;
  width: 145px;
  height: 36px;
  margin-bottom: 36px;
}

.navigation-menu .navigation-item > .navigation-link {
  z-index: 3;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation .navigation-item {
  position: relative;
}

.navigation-user .navigation-item .user-exit {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.navigation-user,
.navigation-menu {
  display: grid;
  grid-template-columns: 540px 180px 200px 150px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

.navigation-user {
  margin-top: 2px;
}

.navigation-user .navigation-item:nth-child(3) {
  right: -5px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link:before {
  left: 25px;
}

.navigation-user .navigation-item .navigation-link {
  padding: 10px 10px 10px 46px;
}

.navigation-user .navigation-item .navigation-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.navigation-user .navigation-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.navigation-user .navigation-item .navigation-link:before {
  position: absolute;
  content:"";
  left: 21px;
  top: 12px;
}

.navigation-user .navigation-item .search:before {
  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg");
}

.navigation-user .navigation-item .user:before {
  width: 13px;
  height: 12px;
  background: url("../img/icons/user.svg");
}

.navigation-user .navigation-item .compare:before {
  width: 10px;
  height: 12px;
  background: url("../img/icons/compare.svg");
}

.navigation-user .navigation-item .cart:before {
  width: 16px;
  height: 14px;
  background: url("../img/icons/cart.svg");
}

.navigation-user .navigation-item .cart:after {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  content: "2";
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.navigation-user .navigation-item .cart:hover + .popover {
  display: block;
}

.navigation-item:hover .navigation-catalog-list {
  display: grid;
}

.navigation-user {
  margin-bottom: 35px;
}

.navigation-user .navigation-link:not(:first-child):hover {
  opacity: 0.6;
}

.navigation-user .navigation-link:not(:first-child):active {
  opacity: 0.3;
}

.navigation-user .navigation-item .search {
  padding: 0;
}

.input-search {
  height: 40px;
  width: 516px;
  padding: 10px 10px 10px 60px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background: none;
  border: none;
  border-radius: 20px;
  opacity: 0.3;
  box-sizing: border-box;
}

.input-search:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid #af4fff;
  border-radius: 20px;
  opacity: 1;
}

.input-search:hover {
  opacity: 0.6;
}

.input-search:not(:placeholder-shown).input-search:focus,
.input-search:active {
  outline: none;
  border: 2px solid #000000;
  opacity: 1;
}

.input-search:placeholder-shown + .button-search {
  display: none;
}

.button-search {
  position: absolute;
  z-index: 5;
  right: 24px;
  display: inline;
  width: 160px;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  background: none;
  letter-spacing: normal;
}

.button-search span {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 19px;
  text-transform: none;
  font-weight: 400;
}

.button-search:focus {
  outline: none;
  border-color: #af4fff;
}

.button-search:hover,
.button-search:active {
  color: #ffffff;
  background-color: #000000;
}

.button-search:active span {
  opacity: 0.3;
}

.navigation-user li:last-child,
.navigation-user li:nth-child(3),
.navigation-menu >li:nth-child(3n+4) {
  margin-left: auto;
}

.navigation-menu >li:nth-child(3n+4) {
  right: 5px;
}

.navigation-menu li:nth-child(3) {
  left: -20px;
}

.navigation-menu .navigation-item >.navigation-link {
  position: relative;
  padding: 14px 20px;
}

.navigation-menu .navigation-item:first-child {
  position: relative;
  width: auto;
  grid-row: span 2;
}

.navigation-menu .navigation-item:first-child >.navigation-link:after {
  content:"";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 3;
  width: 46px;
  height: 46px;
  background: url("../img/icons/plus.svg") no-repeat center;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 25px;
}

.navigation-menu .navigation-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-menu .navigation-item:not(:first-child) .navigation-link:hover:after {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 20px;
  content: "";
  background-color: #000000;
}

.navigation-menu .navigation-item:not(:first-child) .navigation-link:active {
  text-decoration: underline;
  opacity: 0.3;
}

.navigation-menu .navigation-item:first-child >.navigation-link:hover:after {
  opacity: 1;
  background: url("../img/icons/minus.svg") no-repeat center;
}

.navigation-menu .navigation-item:first-child >.navigation-link:active:after {
  background: url("../img/icons/minus.svg") no-repeat center;
}

.navigation-menu .navigation-item:first-child .navigation-link:hover + .navigation-catalog-list {
  display: grid;
}

.navigation-catalog-list:hover {
  display: grid;
}

.navigation-catalog-list {
  position: absolute;
  left: -40px;
  right: auto;
  top: 12px;
  z-index: 2;
  display: none;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(190px, auto));
  row-gap: 9px;
  column-gap: 11px;
  width: 1160px;
  padding: 55px 45px 50px 45px;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffe17f;
}

.navigation-catalog-list .navigation-catalog-item:last-child {
  grid-column: 3;
  grid-row: 1;
}

.navigation-catalog-item .navigation-link {
  display: block;
  padding: 3px 15px 5px 15px;
}

.navigation-catalog-item .navigation-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-catalog-item .navigation-link:hover {
  opacity: 0.6;
}

.navigation-catalog-item .navigation-link:active {
  opacity: 0.3;
}

.navigation-menu .navigation-item:first-child .navigation-link:active .navigation-catalog-list {
  display: grid;
}

/*POPOVER*/

.popover {
  position: absolute;
  top: 0;
  right: -70px;
  z-index: 4;
  display: none;
  padding-top: 44px;
}

.popover-cart {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #000000;
}

.popover-cart:before {
  position: absolute;
  top: -20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
  content: "";
  border: 14px solid transparent;
  border-bottom: 6px solid #000000;
}

.popover:hover {
  display: block;
}

.popover-title {
  margin: 0;
  padding: 0;
}

.cart-items-list {
  padding: 0;
  margin: 0;
}
.cart-items-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cart-item {
  width: 244px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.cart-items-list:nth-child(n+1) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-button {
  width: 25px;
  height: 25px;
  margin-left: 40px;
  padding: 0;
  flex-shrink: 1;
  align-self: flex-start;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: transparent;
}

.cart-result {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #1a1a1a;
}

.cart-item-img {
  margin-right: 23px;
}

.cart-item:focus .cart-item-img {
  outline: 5px solid #af4fff;
}

.cart-item-title {
  line-height: 20px;
}

.cart-item:focus .cart-item-title {
  color: #af4fff;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
}

.cart-item:hover,
.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item:active,
.cart-item-button:active {
  opacity: 0.3;
}

.popover .button-fourth:hover {
  border: none;
  background-color: #ffe17f;
}

.popover .button-fourth:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
  border: none;
  opacity: 1;
}

.popover-cart .button-fourth {
  width: 280px;
  height: 50px;
  margin: 20px 20px 10px 20px;
}

.popover-cart .button-fourth:hover {
  outline: none;
}

/* CONTENT */
.main-index {
  flex-grow: 1;
}

.description-product p:first-child,
.additional-features h2,
.about-us h2,
.contacts h2,
.subscription h2, .inner-header-title {
  padding: 0 0 25px 0;
  margin: 0;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
}

/* GALLERY */

.gallery-item {
  position: relative;
  top: -35px;
  display: none;
  align-content: flex-start;
  margin-bottom: 35px;
}

.gallery-list {
  margin: 0;
  padding: 0;
}

.gallery-active {
  display: flex;
}

.gallery-item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  content: "";
  background-color: #ffe17f;
}

.gallery-item:after {
  position: absolute;
  top: 0;
  right: 50px;
  transform: translateY(75px);
  width: fit-content;
  height: 180px;
  content: "";
  font-size: 180px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  text-align: right;
}

.gallery-item-1:after {
  content: "01";
}

.gallery-item-2:after {
  content: "02";
}

.gallery-item-3:after {
  content: "03";
}

.gallery-product {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.description-product p:first-child {
  padding-bottom: 30px;
}

.slider-pagination-button,
.slider-pagination-button-current {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  outline: 2px solid black;
  border-color: transparent;
  border-radius: 6px;
  background-color: #ffffff;
}

.slider-pagination-button-current {
  background-color: black;
}

.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity:0.3;
}

.slider-next,
.slider-prev {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.slider-prev {
  transform: rotate(180deg);
  left: 20px;
  background-image: url("../img/icons/arrow-thin.svg");
}

.slider-next {
  background-image: url("../img/icons/arrow-thin.svg");
}

.description-product {
  z-index: 1;
  padding-top: 120px;
}

.description-product .button-primary {
  width: 220px;
}

.description-product p {
  margin: 0;
  padding: 0;
}

.description-product div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  margin-top: 42px;
  margin-bottom: 40px;
}

.slider-pagination {
  display: flex;
  column-gap: 22px;
  margin: 0;
  padding: 0;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.characteristics dl {
  display: flex;
  width: 150px;
  row-gap: 12px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding-right: 10px;
}

.characteristics dt {
  font-size: 16px;
}

.characteristics dd {
  margin-left: 0;
  font-size: 36px;
  color: #000000;
}

/* CATEGORY */
.category {
  margin-bottom: 80px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.category-item {
  width: 160px;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
}

.category-item {
  letter-spacing: -1px;
}

.category-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.category-item div{
  width: 160px;
  height: 160px;
  margin-bottom: 27px;
  background-color: #ffe17f;
}

.category-item a:focus {
  outline: 5px solid #af4fff;
  color: #af4fff;
}

.category-item div:before {
  content: "";
  display: block;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.category-1:before {
  background-image: url("../img/category/category-1.svg");
}

.category-2:before {
  background-image: url("../img/category/category-2.svg");
}

.category-3:before {
  background-image: url("../img/category/category-3.svg");
}

.category-4:before {
  background-image: url("../img/category/category-4.svg");
}

.category-5:before {
  background-image: url("../img/category/category-5.svg");
}

.category-6:before {
  background-image: url("../img/category/category-6.svg");
}

.category-item a:hover div,
.category-item a:active div {
  background-color: #ffc700;
}

.category-item a:active div:before,
.category-item a:active p {
  opacity: 0.3;
}

/* ADDITIONAL FEATURES */

.additional-features-wrap {
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 90px;
}

.additional-features-wrap:before {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
  width: 100%;
  min-height: 288px;
  background-color: #f0f0f0;
}

.additional-features {
  display: flex;
  align-items: center;
  gap: 110px;
}

.additional-features h2 {
  padding-bottom: 30px
}

.additional-features_tabs {
  display: flex;
  flex-direction: column;
  padding: 80px 0 70px;
  margin: 0;
  gap: 25px;
  border-right: 7px solid black;
}

.additional-features_tab {
  width: 280px;
}

.delivery-tab-active {
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #ffe17f;
  text-align: left;
  background: black;
}

.additional-features_tabs .button-second {
  min-width: 160px;
}

.additional-features_tabs .button-second span{
  font-size: 18px;
  line-height: 21px;
}

.additional-features-content {
  margin: 0;
  padding: 0;
}

.additional-features-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-tab-active:before {
  background: none;
}

.additional-features .additional-features-img {
  width: 136px;
  height: 164px;
  margin-right: 65px;
  margin-left: 60px;
  margin-top: 25px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.additional-features-delivery {
  background-image: url("../img/delivery-letter.svg");
}

.additional-features-guarantee {
  background-image: url("../img/warranty.svg");
}

.additional-features-credit {
  background-image: url("../img/delivery-package.svg");
}

/* CUSTOM DELIVERY */

.custom-delivery {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 145px;
  background-color: #f0f0f0;
}

.custom-delivery:hover,
.custom-delivery:active {
  background-color: #ebebeb;
}

.custom-delivery:focus {
  outline: 5px solid #af4fff;
}

.custom-delivery:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
}

.custom-delivery:after {
  content: "";
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 31px;
  background: rgba(220, 220, 220, 0.5);
  border-radius: 20px;
}

.custom-delivery:hover:before {
  background-color: #ffc700;
}

.custom-delivery:active:before {
  background-color: #ffc700;
}

.custom-delivery-text {
  width: 100%;
  padding: 37px 130px 43px 130px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.custom-delivery-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-image: url("../img/icons/delivery-car.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.custom-delivery-text:after {
  content: "";
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 30px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.custom-delivery:active .custom-delivery-text {
  opacity: 0.3;
}

.custom-delivery:hover .custom-delivery-text:after {
  opacity: 1;
}

/* ABOUT US */

.wrap-about-us {
  display: flex;
  margin-bottom: 75px;
  justify-content: space-between;
}

.wrap-about-us .button {
  width: 265px;
  margin-top: auto;
}

.about-us {
  width: 500px;
}

.contacts {
  width: 560px;
}

.about-us,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 25px;
}

.wrap-about-us .about-us-title,
.wrap-about-us .contacts-title {
  padding-bottom: 20px;
}

.about-us ul {
  margin: 40px 0 35px 0;
  padding: 0;
}

.about-us ul li {
  position: relative;
  padding-top: 10px;
}

.about-us:before,
.contacts:before {
  content: "";
  position: absolute;
  top: -53px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us ul li b {
  padding-left: 35px;
  line-height: 20px;
  color: black;
}

.about-us ul li:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffc700;
}

/*CONTACTS*/

.contacts-address {
  margin-top: -10px;
  font-style: normal;
}

.contacts h3 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 3px 0 0 0;
}

.contacts .contacts-schedule {
  margin: -10px 0 35px 0;
  padding: 0;
}

/* SUBSCRIPTION */

.subscription-wrap {
  padding-top: 75px;
  padding-bottom: 131px;
  background-color: #f0f0f0;
}

.subscription {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
}

.subscription h2 {
  grid-area: title;
  width: 600px;
  margin: 0;
  padding: 0;
}

.subscription .subscription-text {
  width: 560px;
  padding-top: 10px;
}

.subscription-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.subscription span {
  margin-left: auto
}

.subscription-free {
  padding-bottom: 9px;
}

.subscription-free svg {
  margin-right: 17px;
}

.subscription  #subscription-mail {
  height: 100%;
  width: 600px;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.subscription  #subscription-mail:focus {
  outline: none;
  background-color: #dcdcdc;
  border: none;
}

.subscription #subscription-mail:invalid {
  outline-color: #ff3d3d;
}

.subscription  #subscription-mail:hover {
  border-color:rgba(0, 0, 0, 0.2);
}

.subscription  #subscription-mail:active {
  border-color:rgba(0, 0, 0, 1);
}

.subscription  #subscription-mail:hover {
  border-color:rgba(0, 0, 0, 0.2);
}

/* FOOTER */

.wrap-page-footer {
  padding-top: 62px;
  padding-bottom: 62px;
  color: #ffffff;
  background-color: #444444;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 35px;
  align-items: center;
}

.page-header-logo {
  grid-column: 1 / -1;
}

.page-footer .page-header-logo path {
  fill: #ffc700;
}

.page-footer address {
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px 0 0 0;
  padding: 0;
  color: #ffffff;
}

.footer-menu li {
  margin-left: -10px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-menu li:nth-child(3n+1) {
  margin-left: 5px;
}

.page-footer a {
  color: #ffffff;
}

.footer-menu a {
  position: relative;
  padding: 14px 20px;
}

.page-footer .footer-menu a:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer-menu a:hover,
.footer-menu a:active {
  color: #ffc700;
}

.footer-menu a:hover:after,
.footer-menu a:active:after {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 20px;
  content: "";
  background-color: #ffc700;
}

.footer-menu a:active {
  color: #ffc700;
  opacity: 0.3;
}

.contacts-phone {
  text-decoration-line: underline;
}

.page-footer div.line {
  height: 7px;
  width: 80px;
  background-color: #ffc700;
}

.footer-tel {
  justify-self: flex-end;
  padding: 5px 15px;
  margin-right: -15px;
  font-size: 16px;
}

.footer-tel:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 25px;
}

.footer-tel:hover,
.footer-tel:active {
  color: #ffc700;
}

.footer-tel:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
}

.footer-social-item a {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-sizing: border-box;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-social-item a:focus {
  background-color: #444444;
  outline: 5px solid #af4fff;
}

.footer-social-item a:focus .social-icon {
  fill: #ffffff;
}

.footer-social-item a:hover,
.footer-social-item a:active {
  background-color: #ffc700;
}

.footer-social-item a:hover .social-icon,
.footer-social-item a:active .social-icon {
  fill: #444444;
}

.footer-social-item a:active .social-icon{
  opacity: 0.3;
}

.page-footer .htmlacademy {
  justify-self: flex-end;
  align-self: flex-end;
  display: inline-block;
  border-radius: 10px;
}

.page-footer .htmlacademy svg{
  padding: 10px;
  margin-top: 8px;
  margin-right: -10px;
  fill: #ffc700;
}

.page-footer .htmlacademy:focus {
  outline: 2px solid #af4fff;
}

.page-footer .htmlacademy:hover svg {
  fill: #ffffff;
}

.page-footer .htmlacademy:active svg {
  fill: #ffffff;
  opacity: 0.3;
}

/* CATALOG */

.inner-header-title {
  margin: 37px 0 0 0;
  padding: 0 0 20px 60px;
}

.breadcrumbs {
  padding: 0 0 0 48px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  column-gap: 12px;
  margin-bottom: 45px;
}

.breadcrumbs .breadcrumbs-link {
  position: relative;
  padding: 5px 12px;
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.6;
}

.breadcrumbs .breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs .breadcrumbs-link:hover {
  opacity: 1;
}

.breadcrumbs .breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -6px;
  width: 4px;
  height: 7px;
  content: "";
  background: url("../img/icons/arrow-thin.svg") no-repeat center;
  background-size: contain;
}

.catalog-products {
  display: flex;
  justify-content: center;
}

.sorting-type label,
.catalog-filter h3 {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-products fieldset {
  padding-right: 0;
  padding-left: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter {
  flex-grow: 1;
  background-color: #ebebeb;
}

.catalog-filter h3 {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 65px 0;
  padding: 25px 0;
  background-color: #dcdcdc;
}

.catalog-filter h3 span {
  width: 270px;
  margin-left: 60px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters {
  width: 200px;
  margin: 0 0 0 auto;
  padding-left: 60px;
  padding-right: 70px;
}

.filters .button-primary {
  width: 100%;
  margin-top: -2px;
}

.catalog-filter fieldset {
  width: 200px;
  padding: 0;
  margin-bottom: 25px;
}

.catalog-filter-list {
  margin: 3px 0 15px 0;
  padding: 0;
}

.catalog-filter-list li {
  padding-top: 10px;
}

/* Range */

.range {
  margin-top: 25px;
  margin-bottom: 43px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min,
.toggle-max {
  top: -9px;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.label-min {
  right: 9px;
  transform: translateX(-50%);
}

.label-max {
  right: -9px;
  transform: translateX(50%);
}

.label-min,
.label-max {
  position: absolute;
  top: 20px;
  width: fit-content;
  opacity: 0.3;
}

.range-wrapper-inputs {
  position: absolute;
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  font-size: 15px;
  line-height: 18px;
}

.range-input {
  padding: 0 2px;
  width: 60px;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  background-color: transparent;
  border: none;
}

.label-min:focus,
.label-max:focus {
  outline: none;
  color: #af4fff;
}

.toggle-min:focus,
.toggle-max:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.toggle-min:focus + .catalog-filter-label,
.toggle-max:focus + .catalog-filter-label {
  color: #af4fff;
}

.toggle-min:focus + .catalog-filter-label .range-input,
.toggle-max:focus + .catalog-filter-label .range-input {
  color: #af4fff;
}
.toggle-min:active + .catalog-filter-label ,
.toggle-max:active + .catalog-filter-label {
  opacity: 1;
}

.label-min:active,
.label-max:active {
  opacity:1;
}

.toggle-min:active,
.toggle-max:active {
  background-color: #000000;
  border: 2px solid #000000;
}

/* Mark */

.control {
  position: relative;
  display: block;
}

.control:hover .control-label {
  color: black;
}

.control-input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
}

.control-input[type="checkbox"] ~ .control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  opacity: 0.2;
  box-sizing: border-box;
  border-radius: 3px;
}

.control-input[type="checkbox"] ~ .control-mark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.control-input[type="checkbox"]:checked ~ .control-mark svg {
  display: block;
}

.control-label {
  margin-left: 35px;
}

.control-input:focus + .control-mark {
  border-color: #af4fff;
  opacity: 1;
}

.control-input:focus + .control-mark svg {
  fill: #af4fff;
}

.control-input:focus ~ .control-label {
  color: #af4fff;
}

.control-input:active + .control-mark,
.control-input:active ~ .control-label,
.control-input:checked:active + .control-mark,
.control-input[type="radio"] + .control-mark,
.control-input[type="radio"]:hover + .control-mark,
.control-input[type="radio"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-input:checked + .control-mark,
.control-input[type="radio"]:checked + .control-mark {
  opacity: 1;
}

.control-input:checked:hover + .control-mark,
.control-input:checked:hover ~ .control-label {
  opacity: 0.5;
}

/*RADIO*/

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"] ~ .control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.control-input[type="radio"]:checked ~ .control-mark:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  content: "";
  background-color: black;
  border-radius: 4px;
}

.control-input[type="radio"]:focus + .control-mark {
  border-color: #af4fff;
  opacity: 1;
}

.control-input[type="radio"]:checked:focus ~ .control-mark:before {
  background-color: #af4fff;
}

/* Control */

.select-control {
  width: 220px;
  padding: 4px 0 7px 13px;
  margin-left: 34px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:focus {
  outline: 5px solid #af4fff;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.catalog-right-column {
  flex-grow: 1;
}

.sorting-wrap {
  height: 70px;
  background-color: #ebebeb;
}

.sorting-wrap label {
  font-weight: 800;
}

.sorting-type {
  display: flex;
  align-items: center;
  width: 760px;
  padding-left: 72px;
  margin-right: auto;
  padding-top: 10px;
}

.sorting-from-more,
.sorting-from-smaller {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  opacity: 0.2;
}

.sorting-from-more {
  margin-left: auto;
  margin-right: -12px;
}

.sorting-from-smaller {
  opacity: 1;
  margin-right: -12px;
}

.sorting-from-more:hover,
.sorting-from-smaller:hover {
  opacity: 0.5;
}

.sorting-from-more:focus,
.sorting-from-smaller:focus {
  outline: 5px solid #af4fff;
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}

.sorting-from-more:focus svg,
.sorting-from-smaller:focus svg {
  opacity: 0.2;
}

.sorting-from-more:active,
.sorting-from-smaller:active {
  opacity: 1;
}

.products-wrap {
  width: 760px;
  margin-left: 72px;
  margin-right: auto;
}

.catalog-filter h3 {
  font-weight: 800;
}

.catalog-filter-title {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 0;
  padding-top: 12px;
  line-height: 20px;
  font-weight: bold;
  border-top: 2px solid #000000;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-auto-flow: row;
  row-gap: 45px;
  margin: 69px 0 0 0;
  padding: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-new .product-img:before {
  position: absolute;
  top:27px;
  right: 27px;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url("../img/new.png");
}

.product-card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;
}

.product-card-link span {
  position: absolute;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.product-card-link:focus .product-img {
  outline: 5px solid #af4fff;
}

.product-card-link:focus .product-card-title,
.product-card-link:focus .product-card-price {
  color: #af4fff;
}

.product-img span {
  z-index: 1;
  display: none;
}

.product-img span:before {
  z-index: -1;
}

.product-img:hover span{
  display: flex;
}

.product-img:hover img {
  opacity: 0.3;
}

.product-img:hover {
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
}

.product-img:focus {
  outline: 5px solid #af4fff;
}

.product-img:focus ~ .product-text h3,
.product-img:focus ~ .product-text b {
  color: #af4fff;
}

.product-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card .product-card-title {
  display: inline-block;
  width: 280px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  display: block;
  width: 100%;
  height: 55px;
  margin-top: 45px;
  margin-bottom: 51px;
  padding-top: 13px;
}

.pagination-show-more span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 0 70px 0;
  padding: 0;
  background-color: #ebebeb;
}

.pagination-item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pagination-prev,
.pagination-next{
  display: block;
  box-sizing: border-box;
  padding: 27px 30px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-prev span,
.pagination-next span {
  color: #000000;
}

.pagination-prev:focus,
.pagination-next:focus,
.pagination-link:focus {
  background-color: #f0f0f0;
  outline: 5px solid #af4fff;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  opacity: 0.3;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination .pagination-link {
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

/*MODAL*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* Меняется при клике на доставку для отображения модального окна
  display: flex;
  */
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  position: absolute;
  top: 72px;
  right: 66px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.modal-close-button:focus {
  outline: none;
  border: 5px solid #af4fff;
  border-radius: 25px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 58px 0;
  padding: 0;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
}

.delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-areas: "name email email"
                        "order order count";
  column-gap: 40px;
  row-gap: 35px;
}

.delivery-modal-name {
  grid-area: name;
}

.delivery-modal-email {
  grid-area: email;
}

.delivery-modal-order {
  grid-area: order;
}

.delivery-modal-count {
  grid-area: count;
}

.delivery-form-field {
  position: relative;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
}

.delivery-form-field:focus {
  outline: 5px solid #af4fff;
}

.delivery-form-field:active {
  outline: 3px solid #000000;
}

.delivery-form-field:invalid {
  outline: 3px solid #ff3d3d;
}

.delivery-form-field:not(:placeholder-shown) + .modal-hint-error {
  display: none;
}

.delivery-form label {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -0.02em;
}

.field-group {
  position: relative;
}

.field-group svg {
  position: absolute;
  right: 24px;
  top: 68px;
}

.modal-hint,
.modal-hint-error {
  position: absolute;
  left: 0;
  bottom: -27px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.modal-hint {
  color: #000000;
}

.modal-hint-error {
  color: #ff3d3d;
}

.delivery-form .button-primary {
  width: 200px;
  margin-top: 5px;
}

.delivery-form .button-primary span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.delivery-count {
  position: relative;
  display: flex;
  margin-top: 14px;
}

.count-information {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 26px;
  height: 26px;
  text-align: center;
  background-color: #ffe17f;
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.count-information:hover + .delivery-count:after,
.count-information:hover + .delivery-count:before {
  display: block;
}

.count-information:hover + .delivery-count .delivery-form-count,
.count-information:hover + .delivery-count .delivery-form-count {
  z-index: 0;
}

.delivery-count:after {
  position: absolute;
  right: -22px;
  top: 0;
  display: none;
  padding: 19px 17px;
  width: 200px;
  height: auto;
  content: "Постараемся найти, сколько нужно. Привезём сколько получится по требованиям к провозу багажа.";
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.delivery-count:before {
  position: absolute;
  top: -20px;
  right: 11px;
  z-index: 2;
  display: none;
  content: "";
  border: 14px solid transparent;
  border-bottom: 6px solid #000000;
}

#delivery-count {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.delivery-form-count {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 54px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.delivery-form-count:focus:before {
  width: 32px;
  height: 32px;
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.delivery-form-count:hover:before {
  opacity: 1;
}

.delivery-form-count:active:before {
  opacity: 0.3;
}

.count-small:before,
.count-more:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.count-small:before {
  height: 2px;
  background-image: url("../img/icons/minus.svg");
}

.count-more:before {
  height: 16px;
  background-image: url("../img/icons/plus.svg");
}

.cont-small {
  left: 0;
}

.count-more {
  right: 0;
}
